@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Ocorreu um erro ao processar sua requisição. Por favor nos mande um E-mail para 
        <a href="mailto:mjr.equipamentoseletronicos@gmail.com">mjr.equipamentoseletronicos@gmail.com</a> comunicando o ocorrido.</h2>
</hgroup>
