@model WebSiteMjr.ViewModels.CustomerService.Calls.IndexCallViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Chamados</h2>

<h3>Adicionar novo</h3>

<h3>Em Atendimento</h3>

<h3>Em Fila</h3>
