@model WebSiteMjr.ViewModels.EditStuffsViewModel

<div class="editor-label">
    @Html.LabelFor(model => model.SelectedStuffManufactureId, "Fabricante")
</div>
@Html.DropDownList("StuffManufactureId", ViewBag.StuffManufacture as SelectList, String.Empty)
<a class="button" href="@Url.Content("~/Stuff/CreateStuffManufacture")"
   id="stuffManufactureAddLink">Add Novo Fabricante</a>
@Html.ValidationMessageFor(model => model.SelectedStuffManufactureId)
<div id="StuffManufactureDialog" class="hidden">
</div>