@model WebSiteMjr.Domain.Model.StuffCategory

@using ( Html.BeginForm("CreateStuffCategory", "Stuff", FormMethod.Post, new { id = "createStuffCategoryForm"}))
{
  @Html.ValidationSummary(true)
    {
        <div class="editor-label">
        @Html.LabelFor(model => model.Name, "Nome")
        <br /> 
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
    </div>
    }
}