<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!--Usr Acceptance Conn-->
    <!--<add name="DefaultConnection" connectionString="Data Source=tcp:v5r2ngsqo8.database.windows.net,1433;Initial Catalog=WebSiteMjr;User Id=mjr@v5r2ngsqo8;Password=1709Rafpri;" providerName="System.Data.SqlClient" />-->
    <!--Dev Conn-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=WebSiteMjr;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--Production Conn-->
    <!--<add name="DefaultConnection" connectionString="Data Source=tcp:v5r2ngsqo8.database.windows.net,1433;Initial Catalog=MjrProd;User ID=mjr@v5r2ngsqo8;Password=1709Rafpri" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <entityFramework>
    <!--<contexts>
      <context type="WebSiteMjr.EfConfigurationMigrationData.MjrSolutionContext, WebSiteMjr.EfConfigurationMigrationData" disableDatabaseInitialization="false">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[WebSiteMjr.EfConfigurationMigrationData.MjrSolutionContext, WebSiteMjr.EfConfigurationMigrationData],                [WebSiteMjr.EfConfigurationMigrationData.Migrations.MjrSolutionConfiguration,  WebSiteMjr.EfConfigurationMigrationData]], EntityFramework"></databaseInitializer>
      </context>
    </contexts>-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>