@{
    ViewBag.Title = "Empresa";
}

<hgroup class="title">
    <h1>A MJR</h1>
    <h2></h2>
</hgroup>

<article>
    <img src="../../Images/500H.png" alt="Nossa empresa"/>
    <p>
        Possui mais de 20 anos de experiência sólida no mercado, 
        trabalhamos dando suporte às áreas de <br/> segurança e controle de acesso.
    </p>
</article>