@{
    ViewBag.Title = "Empresa";
}

<hgroup class="title">
    <h1>A MJR</h1>
    <h2></h2>
</hgroup>

<article>
    <img src="../../Images/500H.png" alt="Nossa empresa"/>
    <p>
        Foi criada em 1989. <br/>
        Com mais de 20 anos de experiência sólida no mercado, 
        trabalhamos dando suporte às áreas de <br/> segurança e controle de acesso.
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Empresa", "About", "Home")</li>
        <li>@Html.ActionLink("Contatos", "Contact", "Home")</li>
    </ul>
</aside>*@