@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao site da MJR</h1>
            </hgroup>
            <p>
                Soluções em segurança eletrônica! Entre em contato conosco @Html.ActionLink("aqui", "Contact", "Home")
            </p>
        </div>
    </section>
}
<h3>Nos conheça um pouco melhor:</h3>
<ol class="round">
    <li class="one">
        <h5>CFTV</h5>
        <img src="../../Images/178H.png" alt="CFTV"/>
        Nós na MJR trabalhamos provendo a melhor segurança o possivel, com camêras de vigilância para
        que seu prédio saiba tudo o que está acontecendo nele.
    </li>

    <li class="two">
        <h5>Controle de acesso</h5>
        <img src="../../Images/178HCA.png" alt="Controle de acesso" />
        Implementamos controles de acesso para que você tenha mais segurança para saber
        quem saiu, quem entrou, quanto tempo ficaram e quem transitou dentro do seu prédio.
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
