@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao site da MJR</h1>
            </hgroup>
            <p>
                Soluções em segurança eletrônica! Entre em contato conosco @Html.ActionLink("aqui", "Contact", "Home")
            </p>
        </div>
    </section>
}
<h3>Nos conheça um pouco melhor:</h3>
<ol class="round">
    <li class="zero">
        <h5>CFTV</h5>
        <img src="../../Images/178H.png" alt="CFTV"/>
        Nossos Contratos de Assistencia Tecnica, já incorporam peças GRATUITAS (*Sujeito a avaliação, equipamentos descontinuados ou importados não serão substituidos gratuitamente)
		Trabalhamos com os mais avançados equipamentos em segurança eletronica, com camêras de vigilância, Cmos, CCD, 
		com comunicação IP via Internet 24 Horas, Sistema DVR, NVR ou CPU's. 
		Saiba tudo o que está acontecendo on line, acesso remoto com senha
    </li>

    <li class="zero">
        <h5>Controle de acesso</h5>
        <img src="../../Images/178HCA.png" alt="Controle de acesso" />
        Implementamos controles de acesso para que você tenha mais segurança, com total controle
		de pedestres e veiculos em seu prédio. Lançamento do Sistema de Vaga(s) Panico
    </li>

    <li class="zero">
        <h5>PABX</h5>
        <img src="../../Images/PABX178H.jpg" alt="PABX" />
        Damos suporte, manutenção , Instalação e configurações de PABX para central de comunicação
		predial. Sistema de Antena Coletiva Digital UHF, analogica VHF e Parabolica
    </li>
</ol>
