@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao site da MJR</h1>
            </hgroup>
            <p>
                Soluções em segurança eletrônica! Entre em contato conosco @Html.ActionLink("aqui", "Contact", "Home")
            </p>
        </div>
    </section>
}
<h2>Nos conheça um pouco melhor:</h2>
<ol class="round">
    <li class="zero">
        <h3>CFTV</h3>
        <img src="../../Images/178H.png" alt="CFTV"/>
        <h5>Trabalhamos com os mais avançados equipamentos em segurança eletrônica:</h5>
        <p style="margin-left: 25%;">
            &#10004;  Câmeras de vigilância; <br/>
            &#10004;  Cmos; <br />
            &#10004;  CCD; <br />
            &#10004;  Comunicação IP via Internet 24 Horas; <br />
            &#10004;  Sistema DVR, NVR ou CPU's. <br />
        </p>
        <p>
            Conosco, você poderá saber tudo o que está acontecendo online. Oferecemos acesso remoto com senha!<br/>
            Nossos contratos de assistência técnica, já incorporam peças GRATUITAS**!!
            (**Sujeito a avaliação. Ligue para nossas Centrais de Atendimento e saiba mais.)
        </p>

        @*Nossos Contratos de Assistencia Tecnica, já incorporam peças GRATUITAS (*Sujeito a avaliação, equipamentos descontinuados ou importados não serão substituidos gratuitamente)
		Trabalhamos com os mais avançados equipamentos em segurança eletronica, com camêras de vigilância, Cmos, CCD, 
		com comunicação IP via Internet 24 Horas, Sistema DVR, NVR ou CPU's. 
		Saiba tudo o que está acontecendo on line, acesso remoto com senha*@
    </li>

    <li class="zero">
        <h3>Controle de acesso</h3>
        <img src="../../Images/178HCA.png" alt="Controle de acesso" />
        <p>
            &#10004; Implementamos controles de acesso para que você tenha mais segurança. <br/>
            &#10004; Tenha total controle de pedestres e veículos em seu prédio com o lançamento do Sistema de Vaga(s) Pânico.
        </p>
    </li>

    <li class="zero">
        <h3>PABX</h3>
        <img src="../../Images/PABX178H.jpg" alt="PABX" />
        <h5>Damos suporte em:</h5>
        <p style="margin-left: 25%;">
            &#10004; Manutenção; <br/>
            &#10004; Instalação e configurações de PABX para central de comunicação predial; <br/>
            &#10004; Sistema de Antena Coletiva Digital UHF, analógica VHF e Parabólica.
        </p>

    </li>
</ol>
