@model WebSiteMjr.ViewModels.CustomerService.Calls.IndexCallViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Chamados</h2>

<p>
    <button type="button" class="btn btn-default" onclick="location.href = 'Call/Create'"><i class="fa fa-pencil"></i> @Html.ActionLink("Cadastrar Novo Chamado", "Create") </button>
</p>

<h3>Em Atendimento</h3>

<h3>Em Fila</h3>
