@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorized";
}

<hgroup class="title">
    <h1 class="error">Pare!.</h1>
    <h2 class="error">Você não tem acesso a está área do sistema.</h2>
    <h3 class="error">
        Se você não estiver logado, faça seu login @Html.ActionLink("aqui", "Login", "Account") <br />
        ou entre em contato com seu administrador para ver suas permissões do sistema.
    </h3>   
</hgroup>
